
@{
    ViewBag.Title = "Die Wahl";
}

<h2>Die Wahl</h2>
<hr />

<img src="data:image/png;base64,@ViewBag.Image" />
@using (Html.BeginForm("MakeChoice", "Main", FormMethod.Get))
{
    for (int i = 1; i < 7; i++)
    {
        <input type="radio" id=@i name="candidateNumber" value=@i />
        <label for=@i >X @i</label>
    }
    <button type="submit">make choice</button>
    <p>@ViewBag.ErrorMsg</p>
}

@for (int i = 1; i < 7; i++)
            {
                <p>@ViewBag.Votes[i-1]</p>
            }
