@model SearchApplication.Models.Names
@{
    ViewBag.Title = "Names";
}

<h1>Person Search</h1>

@using (Html.BeginForm("Search", "Names", FormMethod.Get))
{
    @Html.TextBoxFor(m => m.SearchValue)
    <button type="submit" value="Search">Search</button>
}

@using (Html.BeginForm("ClearSearch", "Names", FormMethod.Get))
{
    <button type="submit">Clear</button>
}

<hr />

<h3>Found Persons</h3>

@foreach (var name in Model.SearchedNameList)
{
    <p>@name</p>
} 