body {
    width: 1080px;
    margin: 0;
    align-self: center;
    justify-self: center;
}

#sidebar {
    background-color: gray;
    font-size: 0.9em;
    padding: 10px;
    width: 36%;
}

#main {
    width: 62%;
    padding: 10px;
}

#main-content {
    display: flex;
    flex-direction: row;
}

input[type="text"] {
    border: 1px solid gray;
    border-radius: 0.375em;
    height: 2.5em;
    padding: 1em 0;
    margin: 5px;
}

input[type="text"]:focus {
    border: 1px solid red;
    outline: none;
}

li {
    list-style-type: disc;
}

header {
    color: blue;
    font-family: "Roboto Slab", sans-serif;
    font-size: 50px;
    margin: 0 0 1em 0;
}

#banner {
    display: flex;
    flex-direction: row-reverse;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

span:not(.extra){
    color: red;
}

#sidebar > .inner {
    padding: 2.2em, 2.2em, 2.2em, 2.4em;
    width: 23em;
}

a {
    color: darkblue;
}

a:hover {
    color: blue;
}

a:visited {
    color: darkmagenta;
}

a:visited:hover {
    color: magenta
}

 #sidebar > .inner > * {
    border-bottom: 5px solid greenyellow;
} 